body{
    background-color: #2b2b2b;
}

header{
    border: 1px solid white;
    width: 90%;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

h1{
    font-size: calc(1.3rem + 1.5vw);
    word-wrap: break-word;
}

main{
    border: 1px solid white;
    width: 90%;
    margin: 6rem auto;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.my_input-range-container{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
}

#input-range{
    width: 80%;
}

#input-range:focus{
    outline: none;
    box-shadow: none;
}

.my_range-red{
    accent-color: #de0000;
}

.my_range-yellow{
    accent-color: #ffe600;
}

.my_range-green{
    accent-color: rgb(0, 255, 13);
}

#input-range-value{
    border: 1px solid;
    padding: 4px 8px;
    font-family: monospace;
}

.my_value-red{
    border-color: #de0000;
    color: #de0000;
}

.my_value-yellow{
    border-color: #ffe600;
    color: #ffe600;
}

.my_value-green{
    border-color: rgb(0, 255, 13);
    color:rgb(0, 255, 13)
}

.my_checks{
    justify-content: space-between;
}

.form-check{
    margin: 0;
}

#response,
#alert,
#input-range-value{
    border-radius: 5px;
}


#alert{
    margin: 1rem auto 0;
    padding: 10px 20px;
    text-align: center;
}

.my_alert-yellow{
    background-color: #ffe600;
    color: #2b2b2b;
}

.my_alert-red{
    background-color: #de0000;
    color: white;
}

#response{
    font-family: monospace;
    background-color: #37352d;
    margin: 1rem auto 0;
    padding: 10px;
    color: #e8912c;
    border: 1px solid #e8912c;
    word-wrap: break-word;
}

@media screen and (min-width: 576px) {
    header,
    main{
        width: 80%;
    }

   #input-range{
        margin: 0;
        width: 86%;
    }
}

@media screen and (min-width: 768px) {
    header,
    main{
        width: 65%;
    }
}

@media screen and (min-width: 992px) {
    header,
    main{
        width: 50%;
    }

    #input-range{
        width: 90%;
    }

    .my_btn{
        width: 7vw;
    }
}