body{
    background-color: #2b2b2b;
}

header{
    border: 1px solid white;
    width: 90%;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

h1{
    font-size: calc(1.3rem + 1.5vw);
    word-wrap: break-word;
}

main{
    border: 1px solid white;
    width: 90%;
    margin: 6rem auto 3rem;
    padding: 20px;
    border-radius: 10px;
    background-color: #3a3a3a;
    color: white;
}

.main-border-red {
    border-color: #de0000;
}

.main-border-yellow {
    border-color: #ffe600;
}

.main-border-green {
    border-color: rgb(0, 255, 13);
}

.my_input-range-container{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
}

#input-range{
    width: 80%;
    cursor: pointer;
}

#input-range:focus{
    outline: none;
    box-shadow: none;
}

.my_range-red{
    accent-color: #de0000;
}

.my_range-yellow{
    accent-color: #ffe600;
}

.my_range-green{
    accent-color: rgb(0, 255, 13);
}

#input-range-value{
    border: 1px solid;
    padding: 4px 8px;
    font-family: monospace;
}

.my_value-red{
    border-color: #de0000;
    color: #de0000;
}

.my_value-yellow{
    border-color: #ffe600;
    color: #ffe600;
}

.my_value-green{
    border-color: rgb(0, 255, 13);
    color:rgb(0, 255, 13)
}

.my_checks{
    justify-content: space-between;
}

.form-check{
    margin: 0;
}

#response,
#alert,
#input-range-value{
    border-radius: 5px;
}


#alert{
    margin: 1rem auto 0;
    padding: 10px 20px;
    text-align: center;
}

.my_alert-yellow{
    background-color: #ffe600;
    color: #2b2b2b;
}

.my_alert-red{
    background-color: #de0000;
    color: white;
}

#response{
    font-family: monospace;
    margin: 1rem auto 0;
    padding: 10px;
    word-wrap: break-word;
    transition: all 0.2s;
}

.my_response-yellow{
    background-color: #37372d;
    color: #e8b92c;
    border: 1px solid #e8b92c;
}

.my_response-green{
    background-color: #30372d;
    color: #7ae82c;
    border: 1px solid #7ae82c;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.my_pad:active {
    background-color: transparent !important;
    color: white !important;
}

@media screen and (min-width: 576px) {
    header,
    main,
    footer{
        width: 80%;
    }

   #input-range{
        margin: 0;
        width: 84%;
    }

    .my_pad{
        width: 15%;
    }
}

@media screen and (min-width: 768px) {
    header,
    main,
    footer{
        width: 65%;
    }
}

@media screen and (min-width: 992px) {
    header,
    main,
    footer{
        width: 50%;
    }

    .my_btn{
        width: 7vw;
    }
}

@media screen and (min-width: 1400px) {
    #input-range {
        width: 90%;
    }
}